@import url("https://fonts.googleapis.com/css2?family=Jura&family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font-family: 'Montserrat', sans-serif !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: rgb(255, 255, 255);
}

.ant-layout-sider {
  height: 100vh;
}

.ant-layout-header span svg {
  height: 25px !important;
  width: 25px !important;
  margin-left: 10px !important;
}

.logo {
  text-align: center !important;
  font-size: 20px !important;
}

.logo h1 {
  color: white !important;
}

.ant-layout-content {
  margin: 0 !important;
  padding: 10px !important;
}

.sweet-loading {
  position: fixed !important;
  top: 30% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 9999;
}

.flex {
  display: flex !important;
  align-items: center !important;
}

.flex1 {
  display: flex !important;
  float: right !important;
}

.flex2 {
  display: flex !important;
  float: left !important;
}

p {
  font-weight: 500 !important;
  margin: 2px !important;
  padding: 2px !important;
  font-size: 16px !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.job-div {
  border-radius: 15px !important;
  background-color: white;
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.site-layout .site-layout-background {
  background-color: white;
}

.homebg {
  background-image: url(./assets/bg1.jpg);
  background-size: cover;
}

.jobinfobg {
  background-image: url(./assets/b2.jfif);
  background-size: cover;
}

.jobdetailsbg {
  background-color: white;
  width: 70%;
  height: 50%;
  justify-content: center;
  margin-top: 3%;
  margin-left: 14%;
  margin-bottom: 3%;
  border-radius: 15px !important;
}

.hometitle {
  color: white;
  text-align: center;
}

.title {
  color: white;
}

button {
  background-color: #001529 !important;
  color: white !important;
  border-radius: 5px !important;
}
.login {
  padding-top: 150px !important;
}

/* loginscreenCSS */
.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

input,
.ant-input,
textarea {
  border: 1px solid #001529 !important;
  box-shadow: none !important;
}

.ant-message {
  z-index: 9999 !important;
}
